#sign-in{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#fff,#00b4ef);
}

#sign-in .sign-in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#sign-in h1,
#sign-in h2,
#sign-in h3{
    color: #17a2b8;
}

#sign-in .form{
    background-color: #fff;
    padding: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(9,9,9,.5);
}

#sign-in .form-group{
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
}

#sign-in label{
    width: 100%;
    text-align: left;
    position: absolute;
    left: 0;
    font-weight: 300;
    font-size: 1rem;
    color: #757575;
    transition: all .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    transform: translateY(-5px);
    transform-origin: 0% 100%;
    pointer-events: none;
}

#sign-in input{
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border-bottom: 1px solid #757575;
}


#sign-in input:focus + .control-label,
#sign-in input:valid + .control-label
{
    transform: translate(5px,-20px) !important;
    color: #17a2b8 !important;
    font-size: 0.8rem !important;
}
#sign-in input:focus,
#sign-in input:valid{
	border-bottom:  2px solid #17a2b8 !important;
}